<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>SignInProject.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>SignInProject.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminSection</servlet-name>
        <servlet-class>SignInProject.AdminSection</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CheckOutServlet</display-name>
    	<servlet-name>CheckOutServlet</servlet-name>
    	<servlet-class>SignInProject.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DeleteBooks</display-name>
    	<servlet-name>DeleteBooks</servlet-name>
    	<servlet-class>SignInProject.DeleteBooks</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DeleteUser</display-name>
    	<servlet-name>DeleteUser</servlet-name>
    	<servlet-class>SignInProject.DeleteUser</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddBookServlet</display-name>
    	<servlet-name>AddBookServlet</servlet-name>
    	<servlet-class>SignInProject.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddUserFromFile</display-name>
    	<servlet-name>AddUserFromFile</servlet-name>
    	<servlet-class>SignInProject.AddUserFromFile</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddBooksFromFile</display-name>
    	<servlet-name>AddBooksFromFile</servlet-name>
    	<servlet-class>SignInProject.AddBooksFromFile</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ModifyBook</display-name>
    	<servlet-name>ModifyBook</servlet-name>
    	<servlet-class>SignInProject.ModifyBook</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ModifyBookServlet</display-name>
    	<servlet-name>ModifyBookServlet</servlet-name>
    	<servlet-class>SignInProject.ModifyBookServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ModifyUserServlet</display-name>
    	<servlet-name>ModifyUserServlet</servlet-name>
    	<servlet-class>SignInProject.ModifyUserServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ModifyUser</display-name>
    	<servlet-name>ModifyUser</servlet-name>
    	<servlet-class>SignInProject.ModifyUser</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>VisitorPage</display-name>
    	<servlet-name>VisitorPage</servlet-name>
    	<servlet-class>SignInProject.VisitorPage</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DataFetch</display-name>
    	<servlet-name>DataFetch</servlet-name>
    	<servlet-class>SignInProject.DataFetch</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SearchBook</display-name>
    	<servlet-name>SearchBook</servlet-name>
    	<servlet-class>SignInProject.SearchBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSection</servlet-name>
        <url-pattern>/AdminSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CheckOutServlet</servlet-name>
    	<url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeleteBooks</servlet-name>
    	<url-pattern>/DeleteBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeleteUser</servlet-name>
    	<url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddBookServlet</servlet-name>
    	<url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddUserFromFile</servlet-name>
    	<url-pattern>/AddUserFromFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddBooksFromFile</servlet-name>
    	<url-pattern>/AddBooksFromFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ModifyBook</servlet-name>
    	<url-pattern>/ModifyBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ModifyBookServlet</servlet-name>
    	<url-pattern>/ModifyBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ModifyUserServlet</servlet-name>
    	<url-pattern>/ModifyUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ModifyUser</servlet-name>
    	<url-pattern>/ModifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>VisitorPage</servlet-name>
    	<url-pattern>/VisitorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DataFetch</servlet-name>
    	<url-pattern>/DataFetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SearchBook</servlet-name>
    	<url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
